<% wrap_layout :layout do %>
  <div itemscope itemtype='http://schema.org/Article'>
    <div id='post-header' data-pattern='<%= current_article.title %> | Evan Lecklider'>
      <h1 itemprop='name'><%= current_article.title %></h1>
      <p>
        <span itemprop='datePublished' content='<%= current_article.date.to_s %>'><%= current_article.date.strftime('%b %e, %Y') %></span>
        <% if current_article.tags.present? %>
          in <%= current_article.tags.map { |tag| link_to tag, tag_path(tag) }.to_sentence %>
        <% end %>
      </p>
    </div>

    <article itemprop='articleBody' class='container'>
      <%= yield %>
    </article>
  </div>

  <%= partial 'aside' %>
<% end %>
