<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name='viewport' content='width=device-width'>
    <title><%= title %></title>
    <link rel='shortcut icon' href='<%= image_path('favicon.ico') %>'>
    <!-- Twitter -->
    <meta name='twitter:card' content='summary'>
    <meta name='twitter:site' content='@evanleck'>
    <meta name='twitter:creator' content='@evanleck'>
    <meta name='twitter:title' content='Evan Lecklider'>
    <meta name='twitter:description' content='Code and Musings'>
    <meta name='twitter:domain' content='http://lecklider.com'>

    <!-- Libraries -->
    <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css'>

    <!-- ours -->
    <%= stylesheet_link_tag 'rouge', 'main' %>

    <!-- the feeeeeeed -->
    <%= feed_tag :atom, "#{ blog.options.prefix.to_s }/feed.xml", title: "Atom Feed" %>
  </head>
  <body class='<%= page_classes %>'>
    <header class='container'>
      <a href='/' class='home'>Home</a>
    </header>
    <div>
      <%= yield %>
    </div>

    <footer class='container'>
      <div class='half contact'>
        <p>
          <span itemprop='author' itemscope itemtype='http://schema.org/Person'>
            <span itemprop='name'>
              Evan Lecklider
            </span>
          </span>
          <br>
          <small>Code and Musings</small>
          <br>
          <small>
            <%= link_to 'Atom/RSS Feed', "#{ blog.options.prefix.to_s }/feed.xml" %>
          </small>
        </p>
      </div>
      <div class='half last contact links'>
        <p>
          <small><a href='https://github.com/evanleck'>github.com/evanleck</a></small><br>
          <small><a href='https://twitter.com/evanleck'>twitter.com/evanleck</a></small>
        </p>
      </div>
    </footer>
    <%= javascript_include_tag 'bundle.js' %>
  </body>
</html>
